h1 {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  padding-block: 32px;
  color: $dark-blue;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: $dark-blue;
}

.input {
  .v-field__field {
    border: 1px solid $dark-blue;
    background: $light;
    border-radius: 5px;
  }
}

.select {
  .v-input__control {
    border: 1px solid $dark-blue;
    border-radius: 5px;
  }
  .v-field--variant-filled .v-field__overlay {
    background: $light;
  }
}

.btn-primary {
  background-color: $bright-blue;
  color: $light;
  text-transform: capitalize;
}

main {
  display: flex;
}

@media (min-width: 680px) {
  h1 {
    font-size: 48px;
  }

  .btn-primary {
    font-size: 24px;
  }

  main {
    background-color: $pale-blue;
    background-image: url(@/assets/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    overflow: hidden;
  }
}
