/* Breakpoints */
$small: 440px;
$s-medium: 570px;
$medium: 761px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1250px;

/* Colors */
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$ligth: #ffffff;
